.single{
    width: 50%;
    margin: 0 auto;
    background-color: black !important;
    color: orange;
}
.view{
    background-color: darkslategrey !important;
    border: 1px solid darkslategrey !important;
    color: orange;
}
.view:hover{
    background-color: transparent !important;
    border: 1px solid orange !important;
}