.check{
    height: 100vh;
}
.message{
    width: 50%;
    margin: 0 auto;
    color: orange;
}
.message h5{
    font-size: 20px;
    line-height: 30px;
}
.message img{
    height: 400px;
}
.thumb{
    text-align: center;
}

@media (min-width: 320px) and (max-width: 480px){
    .check{
        height: 100%;
    }
    .message{
        width: 90%;
    }
    .message img{
        height: auto;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    .message{
        width: 90%;
    }
    .message img{
        height: auto;
    }

}

@media (min-width: 768px) and (max-width: 1024px){
    .message{
        width: 90%;
    }
    .message img{
        height: auto;
    }
}