.header{
    background-color: black;
}
.header a{
    color: orange;
}
.header a:hover{
    color: cornflowerblue;
}


@media (min-width: 320px) and (max-width: 480px){
    .navbar-toggler{
        background-color: cornflowerblue !important; 
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .navbar-toggler{
        background-color: cornflowerblue !important; 
    } 
}
@media (min-width: 768px) and (max-width: 1024px){
    .navbar-toggler{
        background-color: cornflowerblue !important; 
    } 
}