.ic{
    background-color: black !important;
    color: orange !important;
}
.views {
    background-color: darkslategrey !important;
    border: 1px solid darkslategrey !important;
}
.views:hover{
    background-color: transparent !important;
    border: 1px solid orange !important;
}
.views a{
    color: orange !important;
}
